.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.cursor/
_project/   
_experimental/
_test/


# Test configuration
jest.config.js

# Git directory
.git/

# OS-specific
.DS_Store
Thumbs.db